image: registry.gitlab.com/gitlab-org/terraform-images/stable:latest

stages:
  - validate
  - semgrep

init:
  stage: .pre
  script:
    - gitlab-terraform init -backend=false

validate:
  stage: validate
  script:
    - gitlab-terraform validate

semgrep:
  stage: semgrep
  image: semgrep/semgrep
  script: semgrep ci --code
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    SEMGREP_APP_TOKEN: "$SEMGREP_APP_TOKEN"