

include:
  - template: Terraform/Base.latest.gitlab-ci.yml
  - template: Jobs/SAST-IaC.gitlab-ci.yml


stages:
  - validate
  - test
  - cleanup
  
fmt:
  extends: .terraform:fmt

validate:
  extends: .terraform:validate