image: registry.gitlab.com/gitlab-org/terraform-images/stable:latest

variables:
  CS_IMAGE: registry.gitlab.com/clients4944609/azure_base_environment/webserver

stages:
  - validate
  - semgrep
  - test

init:
  stage: .pre
  script:
    - gitlab-terraform init -backend=false

validate:
  stage: validate
  script:
    - gitlab-terraform validate

semgrep:
  stage: semgrep
  image: semgrep/semgrep
  script: semgrep ci --code
  variables:
    SEMGREP_APP_TOKEN: "$SEMGREP_APP_TOKEN"

include:
  - template: Jobs/Container-Scanning.gitlab-ci.yml
  - template: Security/SAST-IaC.latest.gitlab-ci.yml

